body{
    font-family: 'Lato', sans-serif;
}
/* general */
.fa-solid,
.fa-regular{
    cursor: pointer;
}
img{
    width: 50px;
    border-radius: 50%;
}
.main_container{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    width: 80%;
    height: 90%;
    background-color: #EAEAEA;
    min-height: 500px;
}
/* left side */
/* header */
#app 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 1rem;
    font-size: 1.2rem;
}
.cs_border{
    border-right: 1px solid #DBDBD2;
}
.header .icons_box{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    position: relative;
}
.icons_box .fa-solid{
    color: #B1B1B1;
}
/* notifiche */
.notifiche{
    display: flex;
    background-color: #8EDAFC;
    align-items: center;
    gap: 1rem;
    height: 75px;
    padding: 1rem;
    line-height: 1.1rem;

}
.notifiche .fa-bell-slash{
    background-color: #F2FBFF;
    color: #8EDAFC;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
}
/* input */
.input_box{
    background-color: #FAFAFA;
    padding: 0.5rem;
}
.input_box span{
    background-color: #fff;
}
/* chats */
.chats{
    background-color: #FFFFFF;
    height: calc(100% - 194px);
    overflow-y: scroll;
    padding-left: 0;
}
.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}
.chat:hover{
    background-color: #f0f0f0;
}
.chat.active{
    background-color: #d8d8d8;
}
.chat img{
    margin-right: 1rem;
}
.chat-text p:last-child{
    width: 155px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
/* right side */
/* chat */
.chat-header span{
    display: block;
}
.chat-header .ultimo-accesso{
    font-size: 0.9rem;
}
.chat-header .fa-arrow-left{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.chat-header .icons_box .info-message{
    position: absolute;
    background-color: #d8d8d8;
    width: 220px;
    right: 0;
    top: 2rem;
}
/* message */
.chat-messages{
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 2rem;
}
.chat-messages .message{
    max-width: 45%;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #B1B1B1;
}
.message.sent{
    align-self: flex-end;
    background-color: #D5F9BA;
}
.message.received{
    background-color: #fff;
    align-self: flex-start;
}
.message span:first-child{
    padding-right: 3rem;
}
.chat-messages .message-hour{
    font-size: 0.7rem;
    color: #B1B1B1;
    position: absolute;
    right: 0.5rem;
    bottom: 0.2rem;
}
.message .dropdown-message{
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    display: none;
    font-size: 1.2rem;
    animation: show-up 0.2s ease-out;
}
@keyframes show-up{
    from {
        right: 0;
    }
    to {
        right: 0.5rem;
    }
}
.message:hover .dropdown-message{
    display: block;
}
/* info message */
.info-message{
    width: 232px;
    background-color: #fff;
    list-style: none;
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0;
    cursor: pointer;
    display: none;
}
.message.sent .info-message{
    right: 0;
}
.message.received .info-message{
    left: 0;
}
.info-message li{
    padding: 0.5rem 1rem;
}
.info-message li:hover{
    background-color: #f0f0f0;
}
/* tasti font */
.tasti-font{
    position: absolute;
    bottom: 65px;
    right: 22px;
    font-size: 1.5rem
}
/* footer */
.footer{
    height: 65px;
    display: flex;
    align-items: center;
}
.footer .emoticon, 
.footer .microphone,
.footer .fa-paper-plane{
    padding: 0 2rem;
    font-size: 1.5rem;
}
/* media */
@media screen and (min-width: 992px) and (max-width: 1200px){
    .chat-text p:last-child{
        width: 100px;
    }
    .notifiche .fa-bell-slash{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 768px){
    .chat-text p:last-child{
        width: 290px;
    }
}